{% extends "base.html" %}


<html>
<head>
    <title>Helpdesk Home</title>
</head>
<body>

    <h1>Helpdesk System</h1>

    <p>Welcome, {{ request.user.username }} 👋</p>

    <hr>

    <a href="/tickets/create/">
        <button>Create Ticket</button>
    </a>

    <br><br>

    <a href="/tickets/my/">
        <button>My Tickets</button>
    </a>

    <br><br>

    <form method="post" action="/accounts/logout/">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

</body>
</html>
{% endblock %}